/**
 * @name Intercord
 * @description A theme to fix Discord's default font.
 * @author qxxst
 * @website https://github.com/qxxst/Intercord
 * @version 1.0
 * @authorLink https://github.com/qxxst
 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --font-primary: 'Inter', sans-serif;
  --font-display: 'Inter', sans-serif;
  --font-headline: 'Inter', sans-serif;
  --font-code: 'Inter', sans-serif;
}
body, h1, h2, h3, h4, h5, h6, p, div, span, input, textarea, select, button {
  font-family: 'Inter', sans-serif;
}
[data-text-variant] {
  font-family: 'Inter', sans-serif;
}
